.navBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('https://wallpaperaccess.com/full/3175103.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.link{
    border-radius: 10px;
    background-color: orangered;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    font-style: italic;
    text-decoration: none;
    border: 2px solid rgb(135, 0, 0);
}

.link:hover{
    background-color: white;
    box-shadow: 0 0 20px rgb(68, 255, 0);
    color: orangered;
    transition: 0.5s;
}