.detailContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-image: url('https://wallpapercave.com/wp/wp8813120.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 10px 10%;
    padding: 20px;
    border: 5px solid rgb(225, 0, 0);
    border-radius: 10%;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.container2{
    border: 3px solid darkblue;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
}

.detailName{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0 0 25px orangered;
    padding-bottom: 0;
}

.detailImg{
    width: 400px;
}

.detailImg:hover{
    cursor: zoom-in;
    width: 500px;
    transition: 0.5s;
}

.details{
    margin: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 850;
    font-style: italic;
    text-shadow:2px 2px 4px rgba(255, 0, 0, 0.503);
}

.detailTypes{
    margin: 5px;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    text-shadow:2px 2px 4px rgba(255, 0, 0, 0.503);
    font-weight: bolder;
}