.divSOF{
    background-image: url('https://images4.alphacoders.com/117/1177514.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    border-radius: 20px;
}