body {
  background-image: url('https://wallpaperaccess.com/full/24933.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

