.formContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('https://wallpapercave.com/wp/wp3543334.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    padding-left: 50px;
    padding-top: 20px;
    margin-top: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
}

.formTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: yellow;
    text-shadow:2px 2px 4px rgba(255, 255, 255, 0.5); 
    margin-bottom: 10px;
    margin: 0;
}

.formLabel{
    padding-bottom: 10px;
    padding-right: 10px;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.formCheck{
    display: flex;
    flex-direction: row;
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
    margin: 10px;
}

.formInput{
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 169, 138);
    border: 2px solid rgb(54, 154, 0);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.checkBoxes{
    transform: scale(1.5);
    margin-right: 10px;
}

.errors{
    margin-left: 10px;
    padding: 3px 10px;
    background-color: rgba(255, 255, 0, 0.832);
    color: rgb(168, 0, 0);
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow:2px 2px 4px rgba(255, 233, 35, 0.5);
    font-weight: bold;
}

.submitButton{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: white;
    border: 3px solid yellow;
    border-radius: 30px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-shadow:2px 2px 4px rgba(255, 128, 0, 0.5); 
}

.submitButton:hover{
    cursor: pointer;
    background-color: yellow;
    border: 3px solid green;
    box-shadow: 0 0 20px yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    transition: 0.3s;
}

.submitButton:disabled{
    background-color: rgba(255, 255, 255, 0.43);
    color: rgb(64, 64, 64);
    font-size: 20px;
    box-shadow: 0;
    border: 2px solid black;
}